body {
  background-color: #6a6d8f;
  color: black;
}

.container {
  max-width: 40%;
  min-height: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* background-color: linear-gradient(135deg, #88ff6b, #00f1ff); */
  box-shadow: #383839 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #121212 0 -3px 0 inset;
}

.title {
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.option {
  padding: 15px 30px;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.option:hover {
  background-color: #0056b3;
}

.btn {
  margin-bottom: 20px;
}

.cont-2 {
  display: flex;
  gap: 40px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
